/test-replays
/cloudflare-upload
/notes
package.json
download-sounds.js
lwg.har

# Ignore everything in game folder and all sub directories
# game/*
# Override and include the lwg-4.9.3.js file in the game/ directory 
# !game/lwg-4.9.3.js
