* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #fcf4f0; */
  background-color: #e4efff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: black;
  gap: 24px;
}

/* #fileDrop {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border-radius: 24px;
} */

#fileContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapImages {
  background-color: rgb(189, 228, 228);
}

p {
  color: black;
  overflow-wrap: anywhere;
}

header {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #275494;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

header > a {
  text-decoration: none;
  color: inherit;
  height: fit-content;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #6898dd;
}

/* For Observable Plot */
/* svg {
  color: black;
  fill: black;
} */

/* rect {
  fill: black;
} */

#plotDivs {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

#plotDivs > div {
  min-width: 500px;
  background-color: white;
}

/* Make plot legend names readable */
#plotDivs span {
  color: black;
}

#uploadReplayButton {
  width: 600px;
  height: 400px;
}

#fileContent {
  padding: 24px;
  display: none;
}

#fileContent > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fileContent > h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}

#gameProgress {
  text-align: center;
  display: none;
  background-color: white;
  padding: 16px;
}

#gameProgress > h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#buildOrderOuter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buildOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
  width: fit-content;
  background-color: white;
}

#buildOrder > div > h4 {
  color: black;
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
}

#buildOrderTitle {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(55, 55, 55);
}

#buildOrderPlayers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 16px;
}

#buildOrderPlayers > div {
  width: 400px;
  min-height: 200px;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(154, 199, 255);
  padding: 8px;
}
