html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkseagreen;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: black;
  gap: 24px;
}

/* #fileDrop {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border-radius: 24px;
} */

#fileContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapImages {
  background-color: rgb(189, 228, 228);
}

p {
  color: black;
  overflow-wrap: anywhere;
}

header {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  text-decoration: none;
  color: inherit;
  height: fit-content;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* For Observable Plot */
/* svg {
  color: black;
  fill: black;
} */

/* rect {
  fill: black;
} */

#plotDivs {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#plotDivs > div {
  min-width: 500px;
}

#uploadReplayButton {
  width: 600px;
  height: 400px;
}

#fileContent {
  padding: 24px;
  display: none;
}

#fileContent > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fileContent > h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}
