html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkseagreen;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* #fileDrop {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  border-radius: 24px;
} */

#fileContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapImages {
  background-color: rgb(189, 228, 228);
}

p {
  overflow-wrap: anywhere;
}

header {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  text-decoration: none;
  color: inherit;
  height: fit-content;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* For Observable Plot */
svg {
  color: black;
  fill: black;
}

rect {
  fill: black;
}
